{% extends "base.html" %}

{% block content %}

<h1>All Reviews for Products</h1>

<p>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</p>

<table class ='table table-hover table-bordered container'>
    <thread class="thead-dark">
        <tr>
            <th scope="col">Product</th>
            <th scope="col">Rating</th>
            <th scope="col">Description</th>
            <th scope="col">Review_Time</th>
            <th scope="col">Update Review</th>
            <th scope="col">Update picture</th>
        </tr>
    </thread>
    <tbody>
        {% for review in reviews %}
        <tr>
            <td>{{review.pid}}</td>
            <td>{{review.rating}}</td>
            <td>{{review.description}}</td>
            <td>{{review.review_time}}</td>
            <td><a href="{{ url_for('users.update_product_review', uid = current_user.id, pid = review.pid)}}" role="button">Update Review</a></td>
            <td><a href="{{ url_for('users.upload_form', uid = current_user.id, pid = review.pid)}}" role="button">Update Picture</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}