{% extends "base.html" %}

{% block content %}

<h1>Deposit</h1>

<p>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</p>

<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>Your current balance is ${{ current }}</p>
    <p>
        {{ form.amount.label }}<br/>
        {{ form.amount }}<br/>
        {% for error in form.amount.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    {{ form.submit(class_="btn btn-black") }}
    <p></p>
    <a class="btn btn-secondary" href="{{ url_for('users.manage_balance') }}" role="button">Back</a>
</form>
  
{% endblock %}