{% extends "base.html" %}

{% block content %}

<h3>Edit Your Product Information:</h3>
<form action="{{ url_for('users.edit_database', uid=current_user.id, pid=productInfo.id) }}" method="POST">
   <div class="form-group">
        <label for="category">Category:</label>
        <select class="custom-select mr-sm-2" name="category" id="category">
            {% for cat in categories %}
            {% if cat == productInfo.category %}
                <option value="{{ cat.name }}" selected="selected">{{ cat.name }}</option>
            {% else %}
                <option value="{{ cat.name }}">{{ cat.name }}</option>
            {% endif %}
            {% endfor %}
        </select>
        <small id="categoryHelp" class="form-text text-muted">Select a category for your product</small>
    </div>
    <div class="form-group">
        <label for="productName">Product Name:</label>
        <input required type="text" class="form-control" name="productName" id="productName" value="{{ productInfo.name }}">
        <small id="nameHelp" class="form-text text-muted">The name of your product</small>
    </div>
    <div class="form-group">
        <label for="productDescription">Description:</label>
        <textarea required class="form-control" id="productDescription" name="productDescription" rows="3" >{{ productInfo.description }}</textarea>
        <small id="descriptionHelp" class="form-text text-muted">A brief description of your product</small>
    </div>
    <div class="form-group">
        <label for="price">Price</label>
        <input required step="0.01" type="number" class="form-control" min='0.01' id="price", name="price" value="{{ sellerInfo.price }}">
        <small id="priceHelp" class="form-text text-muted">Price of your product (two decimals)</small>
    </div>
    <div class="form-group">
        <label for="quantity">Quantity</label>
        <input required step="1" type="number" class="form-control" min="1" id="quantity" name="quantity" value="{{ sellerInfo.quantity }}">
        <small id="quantityHelp" class="form-text text-muted">How many of this product are you listing?</small>
    </div>
    <div class="form-group">
        
        <label for="image">Image URL:</label>
        <input type="text" class="form-control" placeholder="URL for image" id="image" name="image" value="{{ productInfo.image }}">
        <small id="imageHelp" class="form-text text-muted">An image of your product. Please list a URL here!</small>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    <a class="btn btn-secondary" href="{{ url_for('users.view_inventory') }}" role="button">Back</a>
</form>


{% endblock %}