{% extends "base.html" %}

{% block content %}

<h1>Inventory Analytics for {{name}}</h1>

<h2>Products Running Low</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Unit Price</th>
      <th scope="col">Quantity</th>
    </tr>
  </thead>
  <tbody>
    {% for product in products%}
      <tr>
        <th scope="row">{{product.pid}}</th>
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>
        <td>{{product.quantity}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<a class="btn btn-black" href="{{ url_for('users.view_inventory')}}" role="button">Back</a>


<p>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
</p>

{% endblock %}
