{% extends "base.html" %}

{% block content %}

<h1>Update Profile</h1>

<p>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</p>

<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.old_password.label }}<br/>
        {{ form.old_password(size=32) }}<br/>
        {% for error in form.old_password.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.new_password.label }}<br/>
        {{ form.new_password(size=32) }}<br/>
        {% for error in form.new_password.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.new_password_again.label }}<br/>
        {{ form.new_password_again(size=32) }}<br/>
        {% for error in form.new_password_again.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    {{ form.submit(class_="btn btn-black") }}
    <p></p>
    <a class="btn btn-secondary" href="{{ url_for('users.update_profile') }}" role="button">Back</a>
</form>
  
{% endblock %}