{% extends "base.html" %}

{% block content %}

<h1>Buyer's Profile</h1>

<form>
    {{ form.hidden_tag() }}
    <p>
        {{ form.id.label }}<br/>
        {{ form.id }}<br/>
    </p>
    <p>
        {{ form.firstname.label }}<br/>
        {{ form.firstname(size=32) }}<br/>
    </p>
    <p>
        {{ form.lastname.label }}<br/>
        {{ form.lastname(size=32) }}<br/>
    </p>
    <p>
        {{ form.email.label }}<br/>
        {{ form.email(size=64) }}<br/>
    </p>
    <p>
        {{ form.address.label }}<br/>
        {{ form.address(size=64) }}<br/>
    </p>
</form>
  
{% endblock %}