{% extends "base.html" %}

{% block content %}

<h1>Update Profile</h1>

<p>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</p>

<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.id.label }}<br/>
        {{ form.id }}<br/>
    </p>
    <p>
        {{ form.firstname.label }}<br/>
        {{ form.firstname(size=32) }}<br/>
        {% for error in form.firstname.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.lastname.label }}<br/>
        {{ form.lastname(size=32) }}<br/>
        {% for error in form.lastname.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.email.label }}<br/>
        {{ form.email(size=64) }}<br/>
        {% for error in form.email.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.address.label }}<br/>
        {{ form.address(size=64) }}<br/>
        {% for error in form.address.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    {{ form.submit(class_="btn btn-black") }}
    <p></p>
    <a class="btn btn-secondary" href="{{ url_for('users.reset_password') }}" role="button">Reset Password</a>
    <p></p>
    <a class="btn btn-secondary" href="{{ url_for('index.index') }}" role="button">Back</a>
</form>
  
{% endblock %}