{% extends "base.html" %}

{% block content %}

<h1>Update Inventory for User {{uid}}</h1>

<form action="" method="post">
    {{form.hidden_tag()}}
    <p>{{form.pid.label}}<br/>
        {{form.pid(size=64)}}<br/>
        {% for error in form.pid.errors %}
        <span style="color: red;">[{{ error }}]</span><br/>
        {% endfor %}
        {{form.quantity.label}}<br/>
        {{form.quantity(size=32)}}<br/>
        {% for error in form.quantity.errors %}
        <span style="color: red;">[{{ error }}]</span><br/>
        {% endfor %}
    </p>
    <p>{{form.submit(class = "btn btn-secondary")}}</p>
</form>

<p>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</p>

{% endblock %}